<footer class="footer bg-dark py-3 mt-3">
  <div class="container">
    <span class="text-muted">&copy; Copyright 2021.</span>
    <p class="text-muted">
      All rights reserved. Powered by the Graduate Rotational Internship Program
      (GRIP). <br />
      The Sparks Foundation
    </p>
  </div>
</footer>
