<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-bank2"></i>Banking System</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ms-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/banking"
              >All Customer <i class="bi bi-person-plus"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/banking/transaction-history"
              >Transfers History <i class="bi bi-clock-history"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
