<% layout('./layouts/boilerplates') %>
<div class="homePage">
  <h2>Welcome to the online Banking System.</h2>
  <p class="me-auto text-primary">
    For view customer click the All Customer. <br />
    And then select one customer and transfer money.
  </p>
</div>
